body{
    margin:50px;
    overflow-x: hidden;
    font-size:12px;
}
.table th, .table td{
    line-height:16px;
    font-size:12px;
}
.draggable, .tablecell{
    padding:10px;
    border:1px solid lightgray;
    min-width:200px;
    min-height:40px;   
    display:inline-block;
    background:white;
}

.draggable:hover, .draggable.active{
    background:rgba(0,204,255,.8);
    cursor:pointer;
}
.frominput{
    position:absolute;
    right:20px;
}
#profile input[type="text"]{
    width:50px;
}
